.cube-container {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  position: relative;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  margin: 2rem;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: rotatecube 15s ease-in-out infinite;
  -webkit-animation: rotatecube 15s ease-in-out infinite;
  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 15s ease-in-out infinite;
}

#cube div {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border: none;
  background-size: contain;
  background-color: #fff;
}

.front {
  background: url("../assets/images/icons/Technologies/angular.png");
  background-position: center;
  background-repeat: no-repeat;
}

.back {
  background: url("../assets/images/icons/Technologies/react.png");
  background-position: center;
  background-repeat: no-repeat;
}

.right {
  background: url("../assets/images/icons/Technologies/graphql.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eaf9ff !important;
}

.left {
  background: url("../assets/images/icons/Technologies/express.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eaf9ff !important;
  background-blend-mode: darken;
}

.top {
  background: url("../assets/images/icons/Technologies/node.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eaf9ff !important;
}

.bottom {
  background: url("../assets/images/icons/Technologies/redux.png");
  background-position: center;
  background-repeat: no-repeat;
}

#cube .front {
  transform: rotateY(0deg) translateZ(75px);
  -webkit-transform: rotateY(0deg) translateZ(75px);
  -moz-transform: rotateY(0deg) translateZ(75px);
}
#cube .back {
  transform: rotateX(180deg) translateZ(75px);
  -webkit-transform: rotateX(180deg) translateZ(75px);
  -moz-transform: rotateX(180deg) translateZ(75px);
}
#cube .right {
  transform: rotateY(90deg) translateZ(75px);
  -webkit-transform: rotateY(90deg) translateZ(75px);
  -moz-transform: rotateY(90deg) translateZ(75px);
}
#cube .left {
  transform: rotateY(-90deg) translateZ(75px);
  -webkit-transform: rotateY(-90deg) translateZ(75px);
  -moz-transform: rotateY(-90deg) translateZ(75px);
}
#cube .top {
  transform: rotateX(90deg) translateZ(75px);
  -webkit-transform: rotateX(90deg) translateZ(75px);
  -moz-transform: rotateX(90deg) translateZ(75px);
}
#cube .bottom {
  transform: rotateX(-90deg) translateZ(75px);
  -webkit-transform: rotateX(-90deg) translateZ(75px);
  -moz-transform: rotateX(-90deg) translateZ(75px);
}

@-webkit-keyframes rotatecube {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  33.33% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
  }
  66.67% {
    -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(90deg);
  }
  83.33% {
    -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@-moz-keyframes rotatecube {
  0% {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16.67% {
    -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  33.33% {
    -moz-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    -moz-transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
  }
  66.67% {
    -moz-transform: rotateX(90deg) rotateY(270deg) rotateZ(90deg);
  }
  83.33% {
    -moz-transform: rotateX(270deg) rotateY(90deg) rotateZ(90deg);
  }
  100% {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes rotatecube {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16.67% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  33.33% {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
  }
  66.67% {
    transform: rotateX(90deg) rotateY(270deg) rotateZ(90deg);
  }
  83.33% {
    transform: rotateX(270deg) rotateY(90deg) rotateZ(90deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
